<h2>My Favorite Orgs</h2>

<ul>
  {{#each this.model as |org|}}
    {{
      github-org org=org
      on-fav-clicked="favoriteClicked"
    }}
  {{/each}}
</ul>

{{social-info
  name="John Doe"
  twitter="johndoe"
  github="JohnDoe"
}}

{{social-info
  name="Jane Doe"
  twitter="janedoe"
  github="JaneDoe"
}}

{{outlet}}